@font-face {
  font-family: 'traveling__typewriterregular';
  src: url('fonts/travelingtypewriter-webfont.woff2') format('woff2'),
       url('fonts/travelingtypewriter-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

#inspectorDiv {
  width: 500px;
  height: 500px;
  z-index: 10;
}

#inspectorImg {
  width: 100%;
  height: 100%;
}

#drawingDiv {
  position: relative;
  width: 70%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f0f0f0;
}

#title {
  font-family: traveling__typewriterregular;
  font-size: 2.5em;
}

#resultTable {
  position: relative;
  width: 30%;
  height: 100%;
  float: right;
  background-color: #f0f0f0;
  border-collapse: collapse;
}

#resultTable td {
  padding: 0px;
  text-align: center;
  font-family: traveling__typewriterregular;
}

#resultTable img {
  vertical-align: bottom;
  width: 90%;
  height: 90%;
}

#resultTable .sideText {
  text-decoration: none;
  color: black;
}

#svgDiv {
  background-color: white;
}

.hidden {
  display: none;
}
